# Ignore Gradle project-specific cache directory
.gradle
kls_database.db

# Ignore Gradle build output directory
build

/run

/josiepaper-server/build.gradle.kts
/josiepaper-server/src/minecraft
/paper-server
/josiepaper-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
